<div class="split-container">

    <h1>Dividir PDF</h1>
    <p>Separa tu PDF en varios archivos o extrae páginas</p>
    <app-ad-banner></app-ad-banner>
    <div class="upload-box">
        <input type="file" />
        <p>Sube tu archivo PDF</p>
    </div>

    <div class="split-options">

        <label>
            Tipo de división:
        </label>

        <select>
            <option>Extraer páginas</option>
            <option>Dividir cada página</option>
            <option>Rango personalizado</option>
        </select>

    </div>

    <div class="range-box">
        <input type="text" placeholder="Ej: 1-3, 5, 8-10" />
    </div>

    <button class="action-btn">Dividir PDF</button>

</div>