<div class="compress-container">
  <div class="loading-overlay" *ngIf="loading">
    <div class="spinner"></div>
    <p>Comprimiendo PDF...</p>
  </div>
  <h1>Comprimir PDF</h1>
  <p>Reduce el tamaño de tus archivos PDF definiendo un peso objetivo</p>

  <app-ad-banner></app-ad-banner>

  <div class="upload-box">
    <input type="file" (change)="onFileSelected($event)" />
    <p>Arrastra aquí tu archivo PDF o haz clic para seleccionarlo</p>
  </div>

  <div class="settings">

    <label for="targetKb">
      Tamaño objetivo (KB):
    </label>

    <input id="targetKb" type="number" min="50" placeholder="Ej: 128" [(ngModel)]="targetKb" />

  </div>

  <div class="info">
    <small>
      El sistema intentará reducir el PDF al tamaño indicado (puede variar ligeramente según contenido).
    </small>
  </div>

  <button class="action-btn" (click)="compressPdf()" [disabled]="!file || !targetKb">
    Comprimir PDF
  </button>

</div>